/* @tailwind base;
 *@tailwind components;
 *@tailwind utilities;

body
  margin: 0
  padding: 0

header, nav
  margin: 0
  padding: 0

/* Style for the header element

header
  background: linear-gradient(256deg, #d0ebec, transparent)
  height: 300px
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  h1
    width: 60%
    font-size: 40px
    text-transform: uppercase
  .topNav
    display: flex
    justify-content: space-between
    align-content: center
    ul
      display: flex
      text-decoration: none
      list-style: none
      gap: 15px
      li
        font-weight: 600
        font-size: 16px

footer
  background-color: #333
  color: white
  padding: 10px
  text-align: center

main
  width: 100%
  max-width: 1450px
  margin: auto
  padding: 30px
  .home_body
    display: flex
    flex-direction: column
    .card
      display: flex
      flex-direction: row

/* Style for the nav element

nav
  display: flex
  justify-content: space-around
  align-items: center

  img
    max-width: 100px
    height: auto

  a
    margin-left: 10px
    text-decoration: none
    color: #000
    font-weight: bold

    &:hover
      color: #007bff

/* Style for the img element within nav

/* Style for the anchor (link) elements within nav

/* Style for the anchor (link) elements within nav on hover
